* {
    font-family: "Noto Sans KR", serif;
}
/* 전체 화면 위치 설정*/
.full-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item {
    display: inline-block;
}

.item a {
    text-decoration-line: none;
    padding: 5px;
}

.items {
    padding: 0;
    text-align: center;
}

.form-control {
    height: 50px;
}

div.pass i {
    position: absolute;
    left: 90%;
    top: 34%;
    color: gray;
}

/*각 박스마다 높이 60px으로 설정*/
.h {
    width: 500px;
    height: 60px;
    /*height: 50px; :hyun*/
}

/*shadow box size*/
.b-shadow {
    width: 650px;
    height: 750px;
}


/*.b-shadow {*/
/*    width: 630px;*/
/*    height: 700px;*/
/*} :hyun*/


.text {
    margin: 0;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

div.pass1 i {
    position: absolute;
    left: 90%;
    top: 25%;
    color: gray;
}

div.pass2 i {
    position: absolute;
    left: 90%;
    top: 37%;
    color: gray;
}

.h50 {
    height: 50px;
}

.r-shadow {
    height: 900px;
    width: 650px;
}